@import url(./font.css);

:root {
    --bg-dark-blue: rgba(13, 25, 44, 1);
    --soft-blue: rgba(139, 172, 217, 1);
    --Cyan: rgba(0, 255, 248, 1);
    --white: #fff;
    --card-bg: rgba(21, 38, 63, 1);
    --outfit: "Outfit";
    --line-dark: rgba(46, 64, 90, 1);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-dark-blue);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 15px;
    background: var(--card-bg);
    padding-top: 24px;
    padding-left: 24px;
    width: 350px;
}

.card-title-text-line {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.card-img, .card-image {
    width: 302px;
    height: 302px;
    display: block;
    border-radius: 8px;
}

.card-img, .card-image:active{
    opacity: 0.5;
    background: url(../img/Eye.png) no-repeat center center;
    background-color: var(--Cyan);
    cursor: pointer;
}


.card-title {
    font-family: var(--outfit);
    font-size: 22px;
    font-weight: 600;
    color: var(--white);
    padding-top: 24px;
    transition: .5s;
}

.card-title:hover {
    color: var(--Cyan);
    cursor: pointer;
}

.card-text {
    font-family: var(--outfit);
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    color: var(--soft-blue);
    max-width: 302px;
    width: 100%;
    padding-top: 16px;
}

.card-notice {
    display: flex;
    padding-right: 25px;
    justify-content: space-between;
}

.comb {
    color: var(--Cyan);
    font-family: var(--outfit);

}

.ethereum-text {
    font-family: var(--outfit);
    font-size: 16px;
    font-weight: 600;
    color: var(--Cyan);
    padding-left: 7px;
}

.fad {
    color: var(--soft-blue);
}

.clock-text {
    font-family: var(--outfit);
    font-size: 16px;
    font-weight: 400;
    color: var(--soft-blue);
    padding-left: 7px;
}

.card-line {
    width: 302px;
    height: 1px;
    background: var(--line-dark);
}

.card-tag {
    display: flex;
    text-align: center;
    align-items: center;
    padding-bottom: 32px;
}

.tag-image {
    width: 33px;
    height: 33px;
    border-radius: 33px;

}

.tag-text {
    font-family: var(--outfit);
    font-size: 16px;
    font-weight: 400;
    color: var(--soft-blue);
    padding-left: 16px;
}

.tag-text-link {
    font-family: var(--outfit);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: var(--white);
    transition: .5s;
}

.tag-text-link:active {
    color: var(--Cyan);
}